@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #E3E0DB;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    height: 70px;
    padding: 5px;
}
.menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    top: 60px;
    right: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
}
.menu a {
    font-family: "Inknut Antiqua", serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu a:hover {
    background-color: #ddd;
}
.hamburger {
    
    cursor: pointer;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-right: 10px;

}
.choices {
    font-family: "Inknut Antiqua", serif;
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.choice {
    color: #6E6E6E;
    text-decoration: none;
}

.choice:hover {
    text-decoration: underline;
    color: #000; /* Change color on hover */
}
.show {
    display: block;
}
.content {
    width: 95%; /* or any desired width */
    margin: 0 auto; /* Center the content */
}
h1 {
    margin: 20px;
    text-align: left; /* Aligns text to the left */
    font-size: 2em;
    color: #3D3D3D;
    border-bottom: 3px solid #666;
}
#map {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    border: 2px solid #ccc; /* Added border */
}

.footer {
    font-family: "Inknut Antiqua", serif;
    background: #ffffff;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
}
.footer-logo-img {
    width: 80px;
    height: auto;
}